h1{
    color: goldenrod;
    font-size: 90px;
    text-align: center;
}
#first{
    color: white;
    background-color: seagreen;
}
#price{
    color: blue;
    
}
#price{
    color: blue;
}
#second{
    color: white;
    background-color: brown;
}
#third{
    color: white;
    background-color: darkcyan;
}